{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 left">
                <div class="row">
                {% for trainer in trainers_list %}
                    <div class="col-md-4 mt-2 mb-2">
                        <div class="index-card mb-4 h-100 text-center">
                            <div class="car-title">
                                <h2>{{ trainer.trainer_name }}</h2>
                            </div>
                            <div class="card-body justify-content-md-center">
                                <div class="image-container">
                                    {% if trainer.trainer_image %}
                                        <a href="{% url 'trainer_detail' trainer.slug %}" class="post-link">
                                            <img class="card-img-top" src="{{ trainer.trainer_image.url }}" alt="trainer-image">
                                        </a>
                                        
                                    {% else %}
                                        <a href="{% url 'trainer_detail' trainer.slug %}" class="post-link">
                                            <img class="card-img-top"
                                                src="{{ MEDIA_URL }}noimage.png" alt="placeholder">
                                        </a>
                                    {% endif %}
                                </div>
                                <p class="card-footer">{{ trainer.trainer_category }} instructor</p>
                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}