{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-5">

    <!-- Trainer -->
    <div class="row">
        <div class="col-4">
            {% if trainer.trainer_image.url %}
                <img class="card-img-top" src="{{ trainer.trainer_image.url }}" alt="trainer-image">
            {% else %}
                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="trainer-image">
            {% endif %}
        </div>
        <div class="col-6">
            <h2 class="brand">{{ trainer.trainer_name }}</h2>
            <h3>{{ trainer.trainer_category }}</h3>
            <p>{{ trainer.trainer_bio | safe }}</p>
        </div>
    </div>
</div>

{% endblock %}