{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Post Form -->
<div class="overlay"></div>
<div class="container mt-5">
    <h1 class="text-center">Add Post</h1>
    <div class="row">
        <div class="col">
            <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ post_form | crispy }}
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}