{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Delete Comment{% endblock %}

{% block content %}

<!-- Delete Comment -->
<div class="overlay"></div>
<div class="container-fluid mt-5">
    {% if request.user == comment.name or request.user.is_superuser %}
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post_detail' comment.pk %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12">
            <h5>Are You Sure?</h5>
            <p>You are about to delete this comment, this cannot be undone.</p>
            <form method="POST" action="{% url 'delete_comment' comment.pk %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger"><i
                    class="fa-solid fa-dumpster"></i> Delete</button>
            </form>
        </div>
    </div>
    {% else %}
    <p>You do not have permission to view this page.</p>
    <div class="container text-center">
        <a href="{% url 'blog' %}" class="btn btn-danger btn-default">Back</a>
    </div>
    {% endif %}
</div>

{% endblock %}