{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-5">

    <!-- Post -->
    <div class="row">
        <div class="col-6 offset-3 text-center">
            <h2 class="brand">{{ post.title }}</h2>
            <p>Post by <strong>{{ post.author }}</strong> on {{ post.created_on }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            {% if "placeholder" in post.featured_image.url %}
            <img class="card-img-top" src="https://res.cloudinary.com/anthonyjn08/image/upload/v1657147325/placeholder_i1ysim.jpg"
                alt="placeholder">
            {% else %}
            <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="post-image">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div>{{ post.content | safe }}</div>
        </div>
    </div>

    <!-- Update/Delete Post -->
    {% if user.is_superuser %}
    {% if user.id == post.author.id %}
    <div class="row">
        <div class="col-6">
            <h5>Update or Delete your Post:</h5>
            <p class="edit-delete">
                <a href="{% url 'edit_post' post.slug %}"><button class="btn btn-outline-success edit-recipe"><i
                            class="fa-solid fa-pen-to-square"></i> Edit</button></i></a>
                <a href="{% url 'delete_post' post.slug %}"><button class="btn btn-outline-danger"><i
                            class="fa-solid fa-dumpster"></i> Delete</button></a>
            </p>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>


{% endblock %}