{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-5">

    <!-- Post -->
    <div class="row">
        <div class="col-6 offset-3 text-center">
            <h2 class="brand">{{ post.title }}</h2>
            <p>Post by <strong>{{ post.author }}</strong> on {{ post.created_on }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            {% if post.featured_image %}
            <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="post-image">
            {% else %}
            <img class="card-img-top" src=" {{ MEDIA_URL }}noimage.png" alt="post-image">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div>{{ post.content | safe }}</div>
        </div>
    </div>

    <!-- Likes Button -->
    <div class="row">
        <div class="col-1">
            
            {% if user.is_authenticated %}
            <form action="{% url 'post_like' post.slug %}" class="d-inline" method="POST">
                <strong>
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like"><i
                            class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn btn-like"><i
                            class="far fa-heart"></i></button>
                    {% endif %}
                </strong>
            </form>
            <strong>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <span class="text-secondary">{{ post.number_of_likes }}</span>
            </strong>
        </div>

        <!-- Comment Count -->
        <div class="col-1">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                {{ total_comments}}
            </strong>
            {% endwith %}
        </div>
    </div>

    <!-- Update/Delete Post -->
    {% if user.is_superuser %}
    {% if user.id == post.author.id %}
    <div class="row">
        <div class="col-6">
            <h5>Update or Delete your Post:</h5>
            <p class="edit-delete">
                <a href="{% url 'edit_post' post.slug %}" class="btn btn-outline-success rounded-0"><i
                            class="fa-solid fa-pen-to-square"></i> Edit</a>
                <a href="{% url 'delete_post' post.slug %}" class="btn btn-outline-danger rounded-0"><i
                            class="fa-solid fa-dumpster"></i> Delete</a>
            </p>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <hr>

    <!-- Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% if request.user == comment.name or request.user.is_superuser %}
                <a href="{% url 'delete_comment' comment.id %}" class="btn btn-outline-danger rounded-0"><i
                    class="fa-solid fa-dumpster"></i> Delete</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="col-md card mb-4 mt-3">
            <div class="card-body">
                <h3>Leave a comment:</h3>
                <p>Posting as : {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
                </form>
                
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}